/* CSAInfo.css */

.csa-container {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin:70px;
  }
  
  .csa-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
  }
  
  .csa-info {
    max-width: 850px;
  }
  
  .csa-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .csa-button:hover {
    background-color: #218838;
  }
  